# -*- EDITORS -*-

.vscode/


# -*- COMPILING  -*-

# C Objects
*.o

# C targets
*.a
*.so
*.lib
*.la
*.dll


# -*- GENERATED -*-

# by ./configure
/makefile
/include/ks/config.h

# misc. folders for targets
/lib/
/bin/

# extra library things
/.tmp/

# other directories
/build

# build output
/*.tar.*
/*.tar

/deps

configure-test.c
configure-test.o
configure-check.c
configure-check.o


# TeXinfo

*.aux
*.cp
*.cps
*.info
*.toc
*.html
*.pdf
*.log


