
body {
    tab-size: 4;

    margin: 3em;
    line-height: 1.20rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.00rem;
}

.example pre {
    padding: 0.37em 0.5em;
    margin: 0.2em;
    outline: 1px solid #444444aa;
    background-color: #efefef;
}


/* Mobile/Web */

@media screen and (min-width: 992px) {
    body {
        margin: 3em 12.5vw;
    }
}

